
.navbar-brand{
    letter-spacing: 5px;
    font-weight: bold;
    color: rgb(0, 81, 255) !important;
}
label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolumte;
  top: 0; 
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  padding: 4px 0px;
  border: 1px solid rgb(0, 81, 255);
  display: inline-block;
  color: rgb(0, 81, 255) ;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  margin-top: 7px;
  text-transform: uppercase;
}

label.radio input:checked + span {
  border-color: red;
  background-color: rgb(0, 81, 255);
  color: #fff;
}


.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn:active {
  outline: 0 !important;
  box-shadow: none !important;
}
.container{
    height: 25vh !important;
}

#alertDisplay2 {
  display: none ;
}
#staticBackdrop{
  background-color: #191c24 !important;
}
#startOver{
  display: none;
}
#saveQuiz{
  display: none;
}